html, body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
	background-color: #fff;
	font-family: 'Droid Serif', serif;
}

.header {
	clear: both;
	width: 80%;
	height: 60px;
}

.main {
	margin-left: 60px;
	margin-bottom: 60 px;
	display: inline;
	float: left;
	padding: 10px;
	padding-left: 20px;
	padding-top: 20px;
	width: 80%;
	height: 320px;
	background-color: transparent;
	/*background-color: #FFF5C5;*/
	box-shadow: 2px 2px 5px 0px #333;
}

.footer{
	margin-left: 60px;
	border-top: 10px;
	clear: both;
	padding: 10px;
	width: 80%;
	min-height: 60px;
}

.radioLbl{
	font-size: 12px;
}

.texto{
	font-size: 12px;
}

.boton {
	background-color:#eb9155;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:0px;
	border:1px solid #e6c68f;
	display:inline-block;
	color:#ffffff;
	font-family: 'Droid Serif', serif;
	font-size:13px;
	font-weight:normal;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:80px;
	text-decoration:none;
	text-align:center;
}

#btnLanzar {
	background-color: #33cc33;
	border:1px solid #51d251;
}

#btnLanzar:hover{
	background-color:#7be07b;
}

.boton:hover {
	background-color:#eeaf41;
}

.boton:active {
	position:relative;
	top:1px;
}
	
.boton2 {
	background-color:#79bbff;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:'Droid Serif', serif;
	font-size:11px;
	font-weight:normal;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:80px;
	text-decoration:none;
	text-align:center;
}

.boton2:hover {
	background-color:#378de5;
}

.boton2:active {
	position:relative;
	top:1px;
}

select {
	background: #F3F3F3;
	color: #585757;
	padding: 5px;
	font-size: 13px;
	line-height: 120%;
	border: 1px solid #C1C1C1;
	border-radius: 5px;
	height: 30px;
	-webkit-appearance: none;
}

option {
	padding: 5px;
	color: #585757;
}


.camuflage {
	width: 1280px;
}

.titulo{
	font-size: 24px;
}

.hsub{
	font-size: 16px;
}

table, th, td {
    font-weight: normal;
}

th, td {
    padding-right: 15px;
	text-align: left;
	height: 20px;

}

.textTitle{
	margin: 0px;
	padding: 0px;
	font-size: 24px;
	font-weight: bold;
	font-family: 'Droid Serif', serif;
}

.textSubTitle{
	margin: 0px;
	padding: 0px;
	padding-top: 4px;
	font-size: 14px;
	font-weight: italic;
	font-family: 'Droid Serif', serif;
}

.casilla{
	font-size: 10px;
	margin-left: 30px;
}
